@use 'sass:math';
@use 'sass:map';

$text-color: () !default;
$text-color: map.merge(
  (
    'primary': #303133,
    'regular': #606266,
    'secondary': #909399,
    'placeholder': #c0c4cc
  ),
  $text-color
);

// Scrollbar
// css3 var in packages/theme-chalk/src/scrollbar.scss
$scrollbar: () !default;
$scrollbar: map.merge(
  (
    'opacity': 0.3,
    'bg-color': red,
    'hover-opacity': 0.5,
    'hover-bg-color': pink
  ),
  $scrollbar
);
